@import url('https://fonts.googleapis.com/css2?family=Itim&family=Righteous&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
    scroll-behavior: smooth;
    background: #2c2e2e;


    font-weight: 400;
    font-style: normal;


}




.itim-regular {

    font-family: "Itim", cursive;
   

  }
  

  .righteous-regular {

    font-family: "Righteous", serif;
   
  }




.home{
    background: #2c2e2e;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100vh;
}


#learn-me{
    height: 180vh;
}






.headding{
    padding-top: 100px;
}

span{
    color: rgb(47, 200, 255);
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;

} 

.headding h1{
    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 100px;
    color: #16ead1;
}

.client{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.client p{
    color:#5ac6fceb;
    font-size: 35px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 30px;
}
.client input{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: -20px;

    font-size: 25px;
    background: #b0dfee;
    border: 1px solid #5ac8fb;
}

.console{
    width: 300px;
    height: 70px;
    background: #b0dfee;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    text-align: start;

}

.copy-icon{
    font-size: 30px;
    width: 35px;

    display: flex;
    margin-top: -48px;
    margin-left: 86%;

    background: #b0dfee;
}
.copy-icon i{
    background: #b0dfee;
}


.console input{
    color: #000;
    width: 250px;
    display: flex;
    height: 100%;

    background:  #b0dfee;
    font-size: 25px;
    text-align: center;
}

.client button{

    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;




    font-size: 22px;
    height: 50px;
    width: 85px;
    margin-top: -20px;
    margin-left: 5px;
    background-color: #27aefb;
    color: #000;
}

.headding img{
    position: relative;
    margin-top: -10px;
    filter: blur(1px);
    width: 20%;
}

.learn-about a{
    margin-left: 80%;
    background: #666c6c;
    padding: 20px;
    border-radius: 10px;

    text-decoration: none;
    font-size: 18px;
    color: #000;
}
.learn-about{
    margin-top: 30px;
}




/*              */
/*   learn-me   */
/*              */



.using-video video{
    margin-top: 10%;
    margin-left: 15%;
    width: 30%;
    height: 510px;

    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid #000;
    box-shadow: 0 0 30px #000;
}

.user-M{
    margin-top: -27%;
    margin-left: 55%;
    width: 550px;
    height: 500px;

    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px solid #000;
    box-shadow: 0 0 30px #000;

    text-align: center;
}

.user-M h2{
    color: #27aefb;
    font-size: 38px;
    font-family: "Righteous", serif;

}

.user-M p{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 28px;
    color: #b0dfee;
    text-align: start;

    font-family: "Itim", cursive;

}

.user-M  #sp{
    font-size: 18px;
}

.User-manual{
    margin-top: 25vh;
}

/*              */
/*   bottom     */
/*              */



.bottom{
    height: 30vh;
    background: #313334;
}

.bottom h3 i img{
    width: 40px;
    position: absolute;
    background: #313334;
}


.bottom h3{
  font-size: 25px;
  background: #313334;
  color: #16ea44;

  font-family: "Righteous", serif;
  cursor: pointer;
}

.bottom {
    position: relative;
    text-align: center;
}

.maider{
    position: absolute;
    margin-top: 70px;
   margin-left: 46%;
}



/*              */
/*   benefits   */
/*              */


.benefits{
    height: 30vh;
    margin-top: 100px;
    text-align: center;

    display:  flex;
    flex-wrap: wrap;

    justify-content: center;
}

.head h1{
    color:#27aefb;
    font-size: 46px;

    font-family: "Righteous", serif;
}
.head{
    text-align: center;
    margin-top: 33vh;
}


.benefits .point{
    width: 300px;
    height: 300px;
    margin-left: 60px;
    border: 2px solid #000;
    box-shadow: 0 0 30px #000;
}


.icon{
    height: 35%;
}
.icon i{
    font-size: 80px;
    margin-top: 10px;
    color:#71a6b8fa;
}
.point h2{
    height: 15%;
    font-family: "Righteous", serif;

    color: #16ead1;
}

.point p{
    height: 50%;
    width: 80%;
    margin-left: 10%;
    font-family: "Itim", cursive;
    font-size: 16px;
    color: #fff;
}




/*              */
/*   webkits    */
/*              */



::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background:#000;
}
::-webkit-scrollbar-thumb{
    background: #16ead1;
}
::-webkit-scrollbar-thumb:hover{
    background: #16ea44;
}



@media (max-width:768px){

    body{
        justify-content: center;
        align-items: center;

        width: 100%;

    }

    .using-video video{
        height: 250px;
    }

    .learn-about a{
       margin-left: auto;
       margin-right: auto;
       font-size: 12px;
    }

    .headding h1{
        font-size: 50px;
    }

    .headding img{
        width: 300px;
    }
    
    .console{
        margin-left: auto;
        margin-right: auto;

        width: 200px;
        height: 50px;
    }
   
    .console input{
        width: 150px;
        font-size: 16px;
    }

    .client{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .client p{
        margin-bottom: 30px;
    }

    .copy-icon{
        margin-left:79%;
        margin-top: -40px;
    }







    .User-manual{
        margin-top: 130vh;
    }


    .using-video video{
        width: 70%;
       margin-left: 16%;
    }
    
    .user-M{
        margin-top: 0;
        width: 70%;
        height: 400px;
        margin-top: 20px;
        margin-left: 16%;
    }

    .user-M h2{
        font-size: 26px;
    }
    .user-M p{
        font-size: 18px;
    }

    .user-M #sp{
        padding-top: 20px;
        font-size: 12px;
    }


    .head{
        margin-top: 5vh;
    }

    .head h1{
        font-size: 20px;
    }
    .point h2{
        font-size: 19px;
    }

    .benefits{
        margin-top: 30px;
    }
    .benefits .point{
        width: 230px;
        height: 260px;
        margin-left: 10px;
        margin-top: 30px;
    }

    .icon i{
        font-size: 50px;
    }
    .icon {
        height: 30%;
    }

    #learn-me{
        height: 300vh;
    }






    .bottom{
        height: 10vh;
    }
    .maider{
        margin-top: 20px;
        margin-left: 35%;
    }
    
}


