@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Itim&family=Press+Start+2P&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    scroll-behavior: smooth;
  

    font-family: "Righteous", serif;
    font-weight: 400;
    font-style: normal;
  
}

:root{
    --primery:#000000;
    --secondery:#741baf;
    --teritiory:#a32ce9;
    --input-back:#2b272794;
    --text-color:#daa4f3;
}




body {
    background-color:var(--primery);
    display: flex;
    align-items: center;
    justify-content: center;
  }




  

/* =================================================== */
/* ==================================================== */
/*                  card                                */
/* ==================================================== */
/* ====================================================*/



  .card {
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    background: var(--secondery);
    margin-top: 6%;
  }
  @media (max-width:768px) {
       
    .card{
      margin-top: 30%;
    }

  }


  h3{
    color:var(--text-color);
  }




/* ==================================================== */
/* ====================================================*/




/* =================================================== */
/* ==================================================== */
/*                      INPUTS                         */
/* ==================================================== */
/* ====================================================*/




  input[type=range]::-webkit-slider-thumb {
    background-color: var(--teritiory);
    border: none;
  }

  input[type=range]::-moz-range-thumb {
    background-color: var(--teritiory);
    border: none;
  }

  input[type=range]::-ms-thumb {
    background-color: var(--teritiory);
    border: none;
  }

  

  input[type=range]::-webkit-slider-runnable-track {
    background: var(--input-back);
  }
  input[type=range]::-moz-range-track {
    background: var(--input-back);
  }
  input[type=range]::-ms-track {
    background: var(--input-back);
  }




  input.form-control:disabled{
    background-color: var(--input-back);
    border-color: var(--primery);
  } 

  input[type=text]{
    color: var(--text-color);
  }



/* ==================================================== */
/* ====================================================*/





/* ==================================================== */
/*                 COPY BUTTON                          */
/* ====================================================*/


  .copy-btn{
    border-color: var(--primery);
  }

  .copy-btn i{
    color:var(--text-color);
  }

  .copy-btn:hover{
    border-color: #000;
    background-color: #9911d8;
  }



  
/* ==================================================== */
/* ====================================================*/



/* ==================================================== */
/*                   GENERATE BUTTON                    */
/* ====================================================*/

  
  .gnt-button{
    background-color: var(--teritiory);
    border-color: var(--input-back);
    color: whitesmoke;
  }
  .gnt-button:hover{
    background-color:#9911d8;
    border-color:var(--input-back);
  }


/* ==================================================== */
/* ====================================================*/



  .btn:focus,
.btn:active,
.btn:focus:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: var(--teritiory) !important; 
}


/* ==================================================== */
/* ====================================================*/




  label span{
    color: #daa4f3;
  }

  .bg-violet{
    background: #9633c4;
  }
  







/* =================================================== */
/* ==================================================== */
/*                      SECTOIN LAST                    */
/* ==================================================== */
/* ====================================================*/





  
.last{
  height: 20vh;
  background: #151216;
}

.last span img{
  width: 22px;
  height: 22px;
}

.last span{
  margin-left: 45%;
  margin-top: 3%;
  display: inline-block;
  color: var(--text-color);
}

@media (max-width:768px) { 
 .last span{
  margin-left: 40%;
  margin-top: 12%;
 }
}


/* ========================================================= */
/* ========================================================= */